.input-color
{
    background-color:#ffffff;
    width: 78%;
    margin-left: 10%;
    height:10%
}
.login-button
{
    color: aliceblue;
    background-color: #ff9900;
}
.header
{
    text-align: center;
}
