.background-color
{
    background-color:#ff9900;
    text-align: center
}
.input-color
{
    background-color:#ff9900;
    
    text-align: center;
    width: 49%;
    margin-left: 25%;
    height:10%
    

}
.login-button
{
    background-color: #ffff;
    color: #ff9900
    
   
}

.header
{
    text-align: center;
}
