.background-color
{
    background-color:aliceblue;
    text-align: center
}
.cards-color
{
 padding: -20px;
 background-color: #ff9900;

    
}
.logout
{
    position: absolute;

right: 0;
}
.write-blog
{
    position: absolute;
top:0;
    right: 0;
}
