.background-color
{
    background-color:#ff9900;
    text-align: center
}
.cards-color
{
    background-color:#F9F1F1;
    border-radius: 25px;
  
  padding: -8px; 
  width: 572px;
  height: 90px; 
    
}
.logout
{
    position: absolute;

right: 0;
}
.write-blog
{
    position: absolute;
top:0;
    right: 0;
}
